services:
  code-server:
    image: ghcr.io/coder/code-server:latest
    container_name: code-server
    restart: unless-stopped

    user: "0:0"
    working_dir: /mnt

    environment:
      TZ: ${TZ}
      AUTH: none

    entrypoint: ["/bin/sh", "-c"]

    command: >
      cat /home/coder/extensions.json 2>/dev/null |
      xargs -r -n 1 code-server --install-extension ;
      exec code-server --bind-addr 0.0.0.0:8080 --disable-telemetry

    volumes:
      - /mnt/user/appdata/code-server/config:/home/coder/.config
      - /mnt/user/appdata/code-server/extensions/extensions.json:/home/coder/extensions.json:ro
      - /mnt/user/repos:/mnt/repos
      - /mnt/user/appdata:/mnt/appdata-config

    networks:
      - proxy_net

    labels:
      - traefik.enable=true
      - traefik.http.routers.code.rule=Host(`code.theblaskies.com`)
      - traefik.http.routers.code.entrypoints=websecure
      - traefik.http.routers.code.tls=true
      - traefik.http.services.code.loadbalancer.server.port=8080

networks:
  proxy_net:
    external: true
