
services:
  pocket-id:
    user: "99:100"
    image: ghcr.io/pocket-id/pocket-id:v2.2.0@sha256:84d20a801692b9635f481522df2672a7aae522726c30953dae52e17fc2696b27
    container_name: pocket-id
    restart: unless-stopped

    env_file:
      - .env
    volumes:
      - /mnt/user/appdata/pocket-id/data:/app/backend/data

    networks:
      - proxy_net

    labels:
     - traefik.enable=true
     - traefik.http.routers.pocketid.rule=Host(`id.theblaskies.com`)
     - traefik.http.routers.pocketid.entrypoints=websecure
     - traefik.http.routers.pocketid.tls=true
     - traefik.http.routers.pocketid.tls.certresolver=cloudflare
     - traefik.http.services.pocketid.loadbalancer.server.port=1411
     - traefik.http.routers.pocketid.priority=100

networks:
  proxy_net:
    external: true
