services:
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.7.1
    container_name: oauth2-proxy
    restart: unless-stopped

    env_file:
      - .env
    networks:
      - proxy_net
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy_net

networks:
  proxy_net:
    external: true
