services:
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.14.2@sha256:121cdc6520a02d7a2ddd181af6dbdc0f11f7d0c0d9353a999a69c3998cbfe37e
    container_name: oauth2-proxy
    restart: unless-stopped

    env_file:
      - .env
    networks:
      - proxy_net
    labels:
      - traefik.enable=true
      - traefik.http.services.oauth2-proxy.loadbalancer.server.port=4180
networks:
  proxy_net:
    external: true
