services:
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.7.1
    container_name: oauth2-proxy
    restart: unless-stopped

    env_file:
      - .env

    command:
      - --provider=oidc
      - --http-address=0.0.0.0:4180
      - --reverse-proxy=true
      - --set-xauthrequest=true
      - --pass-authorization-header=true
      - --set-authorization-header=true

    networks:
      - proxy_net
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy_net

      - traefik.http.middlewares.oauth2-proxy.forwardauth.address=http://oauth2-proxy:4180/oauth2/auth
      - traefik.http.middlewares.oauth2-proxy.forwardauth.trustForwardHeader=true
      - traefik.http.middlewares.oauth2-proxy.forwardauth.authResponseHeaders=X-Auth-Request-User,X-Auth-Request-Email,Authorization

networks:
  proxy_net:
    external: true
