services:
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.7.1
    container_name: oauth2-proxy
    restart: unless-stopped

    env_file:
      - .env

    command:
      - --http-address=0.0.0.0:4180

    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
