# oauth2-proxy.yml
http:
  routers:
    oauth2-proxy:
      # Specific host for the central auth domain
      rule: Host(`auth.theblaskies.com`) && PathPrefix(`/oauth2`)
      entryPoints:
        - websecure
      priority: 1000
      tls:
        certResolver: cloudflare
      service: oauth2-proxy

  services:
    oauth2-proxy:
      loadBalancer:
        servers:
          # Assumes the container name in docker-compose is 'oauth2-proxy'
          - url: http://oauth2-proxy:4180
