http:
  routers:
    oauth2-proxy:
      rule: HostRegexp(`{host:.+}`) && PathPrefix(`/oauth2`)
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: oauth2-proxy

  services:
    oauth2-proxy:
      loadBalancer:
        servers:
          - url: http://oauth2-proxy:4180
