http:
  routers:
    plex:
      rule: Host(`plex.theblaskies.com`)
      entryPoints:
        - websecure
      service: plex
      tls:
        certResolver: cloudflare

  services:
    plex:
      loadBalancer:
        servers:
          - url: http://plex:32400
        passHostHeader: true
