version: "3.8"

services:
  docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy
    container_name: docker-socket-proxy
    restart: unless-stopped

    environment:
      CONTAINERS: "1"
      EVENTS: "1"
      INFO: "1"
      NETWORKS: "1"
      SERVICES: "1"
      TASKS: "1"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks:
      - proxy_net


  traefik:
    image: traefik@sha256:16acb89c6db341182970d6fdafece31303b0a380a8ed7aa51682e225229bf1d2
    container_name: traefik
    restart: unless-stopped

    command:
      - --configFile=/etc/traefik/traefik.yml

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./dynamic:/etc/traefik/dynamic:ro
      - /mnt/user/appdata/traefik/acme:/etc/traefik/acme

    networks:
      - proxy_net


networks:
  proxy_net:
    external: true
