services:
  docker-socket-proxy:
    image: ghcr.io/tecnativa/docker-socket-proxy@sha256:1f3a6f303320723d199d2316a3e82b2e2685d86c275d5e3deeaf182573b47476
    container_name: docker-socket-proxy
    restart: unless-stopped

    environment:
      CONTAINERS: 1
      SERVICES: 1
      NETWORKS: 1
      TASKS: 1
      EVENTS: 1
      INFO: 1

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks:
      - proxy_net


  traefik:
    image: traefik@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
    container_name: traefik
    restart: unless-stopped

    env_file:
      - .env

    command:
      - --configFile=/etc/traefik/traefik.yml

    ports:
      - "80:80"
      - "443:443"

    volumes:
      # Static config
      - /mnt/user/appdata/komodo/repos/Blaskielab/stacks/infra/traefik/traefik.yml:/etc/traefik/traefik.yml:ro

      # Dynamic config (Git-managed)
      - /mnt/user/appdata/komodo/repos/Blaskielab/stacks/infra/traefik/dynamic:/etc/traefik/dynamic:ro

      # ACME storage
      - /mnt/user/appdata/traefik/acme:/etc/traefik/acme

    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
