services:
  komodo-core:
    user: "1002:281"
    image: ghcr.io/moghtech/komodo-core@sha256:a1cceb4f971443b1e9f2a767788f663d0afb6244ee2135f7fe3fd1036af37ade
    container_name: komodo-core
    restart: unless-stopped

    env_file:
      - .env

    ports:
      # Optional: keep for LAN access during bootstrap
      - "9120:9120"

    volumes:
      # Optional: database backups
      - /mnt/user/appdata/komodo/backups:/backups
      - /mnt/user/appdata/komodo:/data

    networks:
      - infra_net
      - proxy_net

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.komodo.rule=Host(`komodo.theblaskies.com`)"
      - "traefik.http.routers.komodo.entrypoints=websecure"
      - "traefik.http.routers.komodo.tls=true"
      - "traefik.http.routers.komodo.priority=50"
      - "traefik.http.services.komodo.loadbalancer.server.port=9120"

  # 1. THE HEADERS MIDDLEWARE: Fixes HTTPS/Proto sensing
      - "traefik.http.middlewares.komodo-headers.headers.customrequestheaders.X-Forwarded-Host=komodo.theblaskies.com"
      - "traefik.http.middlewares.komodo-headers.headers.customrequestheaders.X-Forwarded-Proto=https"

  # 2. THE UNENCODE MIDDLEWARE: Use $$ to escape the dollar sign for docker-compose
#      - "traefik.http.middlewares.komodo-unencode.replacepathregex.regex=^/(.*)%"
 #     - "traefik.http.middlewares.komodo-unencode.replacepathregex.replacement=^/$$1?"

  # 3. APPLY BOTH MIDDLEWARES (Merged into one line)
      - "traefik.http.routers.komodo.middlewares=komodo-headers"
  komodo-periphery:
    user: "1002:281"
    image: ghcr.io/moghtech/komodo-periphery@sha256:bd79cf960ed054fe8e02384322303e462448679b1149dde48bbef151417255b1
    container_name: komodo-periphery
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      # Docker control
      - /var/run/docker.sock:/var/run/docker.sock

      # Required for process inspection
      - /proc:/proc

      # Must be identical inside and outside container
      - ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}:${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
      # Config for Periphery
      #- ./periphery.config.toml:/etc/komodo/periphery.config.toml
      - /mnt/user/appdata/traefik:/mnt/user/appdata/traefik
      - /mnt/user/appdata/komodo:/etc/komodo
    networks:
      - infra_net


networks:
  infra_net:
    user: "1002:281"
    external: true
  proxy_net:
    user: "1002:281"
    external: true
