services:
  paperless-redis:
    image: redis:7
    container_name: paperless-redis
    restart: unless-stopped
    command: redis-server --save "" --appendonly no

    networks:
      - infra_net

  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - /mnt/user/data/paperless/data:/usr/src/paperless/data
      - /mnt/user/data/paperless/media:/usr/src/paperless/media
      - /mnt/user/data/paperless/export:/usr/src/paperless/export
      - /mnt/user/data/paperless/consume:/usr/src/paperless/consume

    networks:
      - proxy_net
      - infra_net

    labels:
      - traefik.enable=true
      - traefik.http.routers.paperless.rule=Host(`paperless.theblaskies.com`)
      - traefik.http.routers.paperless.entrypoints=websecure
      - traefik.http.routers.paperless.tls=true
      - traefik.http.routers.paperless.tls.certresolver=cloudflare
      - traefik.http.services.paperless.loadbalancer.server.port=8000

networks:
  proxy_net:
    external: true

  infra_net:
    external: true