services:
  dozzle:
    user: "1002:281"
    image: amir20/dozzle:latest@sha256:2d59d09503f2c947133a4f231fdeb1f4c99e23aa0d4137f81bb1a6318e0e06cf
    container_name: dozzle
    restart: unless-stopped

    environment:
      # REQUIRED for v8+
      DOCKER_HOST: http://docker-socket-proxy:2375

      # Optional UI tweaks
      DOZZLE_LEVEL: info
      DOZZLE_NO_ANALYTICS: "true"

    networks:
      - proxy_net

    labels:
      - traefik.enable=true

      # ---- Router ----
      - traefik.http.routers.dozzle.rule=Host(`dozzle.theblaskies.com`)
      - traefik.http.routers.dozzle.entrypoints=websecure
      - traefik.http.routers.dozzle.tls=true
      - traefik.http.routers.dozzle.tls.certresolver=cloudflare

      # ---- Service ----
      - traefik.http.services.dozzle.loadbalancer.server.port=8080

networks:
  proxy_net:
    user: "1002:281"
    external: true
