services:
  dozzle:
    user: "1002:281"
    image: amir20/dozzle:latest@sha256:a7529f02748a9520a4f372f7b349e099bb0bc6ae93c2be9d85945f51d45f8967
    container_name: dozzle
    restart: unless-stopped

    environment:
      # REQUIRED for v8+
      DOCKER_HOST: http://docker-socket-proxy:2375

      # Optional UI tweaks
      DOZZLE_LEVEL: info
      DOZZLE_NO_ANALYTICS: "true"

    networks:
      - proxy_net

    labels:
      - traefik.enable=true

      # ---- Router ----
      - traefik.http.routers.dozzle.rule=Host(`dozzle.theblaskies.com`)
      - traefik.http.routers.dozzle.entrypoints=websecure
      - traefik.http.routers.dozzle.tls=true
      - traefik.http.routers.dozzle.tls.certresolver=cloudflare

      # ---- Service ----
      - traefik.http.services.dozzle.loadbalancer.server.port=8080

networks:
  proxy_net:
    user: "1002:281"
    external: true
