services:
  renovate:
    image: renovate/renovate:latest@sha256:3e4791812f787694a8f499dde1f5950984aabb78f4a49fd7be9e3baad3781033
    container_name: renovate
    restart: unless-stopped

    environment:
      RENOVATE_PLATFORM: github
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}

      RENOVATE_GIT_AUTHOR: "Obie Bot <renovate@theblaskies.com>"
      RENOVATE_AUTODISCOVER: "true"
      RENOVATE_BASE_DIR: /tmp/renovate
      RENOVATE_CONCURRENT_LIMIT: "1"
      RENOVATE_PR_CONCURRENT_LIMIT: "2"
      RENOVATE_GIT_FS: "true"
      # Point Renovate at your homelab repo
      RENOVATE_REPOSITORIES: "cblaskie/Blaskielab"

      # Logging
      LOG_LEVEL: info

    volumes:
      - /mnt/user/appdata/renovate:/tmp/renovate

    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
