services:
  renovate:
    image: renovate/renovate:latest@sha256:8f818dc7f121a48a4d49412516588b8c4c900697455174983328e796f24971ab
    container_name: renovate
    restart: unless-stopped

    environment:
      RENOVATE_PLATFORM: github
      RENOVATE_TOKEN: ${RENOVATE_TOKEN}

      RENOVATE_GIT_AUTHOR: "Obie Bot <renovate@theblaskies.com>"
      RENOVATE_AUTODISCOVER: "true"
      RENOVATE_BASE_DIR: /tmp/renovate
      RENOVATE_CONCURRENT_LIMIT: "1"
      RENOVATE_PR_CONCURRENT_LIMIT: "2"
      RENOVATE_GIT_FS: "true"
      # Point Renovate at your homelab repo
      RENOVATE_REPOSITORIES: "cblaskie/Blaskielab"

      # Logging
      LOG_LEVEL: info

    volumes:
      - /mnt/user/appdata/renovate:/tmp/renovate

    networks:
      - proxy_net

networks:
  proxy_net:
    external: true
