services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    runtime: nvidia

    env_file:
      - .env

    volumes:
      - /mnt/user/appdata/ollama:/root/.ollama

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    networks:
      - infra_net
      - proxy_net

    labels:
      - traefik.enable=true
      - traefik.http.routers.ollama.rule=Host(`ollama.theblaskies.com`)
      - traefik.http.routers.ollama.entrypoints=websecure
      - traefik.http.routers.ollama.tls=true
      - traefik.http.routers.ollama.tls.certresolver=cloudflare
      - traefik.http.services.ollama.loadbalancer.server.port=11434


  open-webui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: open-webui
    restart: unless-stopped

    depends_on:
      - ollama

    environment:
      OLLAMA_BASE_URL: http://ollama:11434
      WEBUI_NAME: Blaskielab AI
      ENABLE_SIGNUP: "false"

    volumes:
      - /mnt/user/appdata/open-webui:/app/backend/data

    networks:
      - infra_net
      - proxy_net

    labels:
      - traefik.enable=true
      - traefik.http.routers.openwebui.rule=Host(`ai.theblaskies.com`)
      - traefik.http.routers.openwebui.entrypoints=websecure
      - traefik.http.routers.openwebui.tls=true
      - traefik.http.routers.openwebui.tls.certresolver=cloudflare
      - traefik.http.services.openwebui.loadbalancer.server.port=8080


networks:
  infra_net:
    external: true

  proxy_net:
    external: true