services:
  notifiarr:
    image: golift/notifiarr:0.9.1
    container_name: notifiarr
    restart: unless-stopped

    user: "1002:281"

    env_file:
      - .env
    ports:
      - "5454:5454"
    volumes:
      - /mnt/user/appdata/notifiarr:/config

    networks:
      - proxy_net

    labels:
      # -----------------------------
      # Traefik Enable
      # -----------------------------
      - traefik.enable=true

      # -----------------------------
      # Router
      # -----------------------------
      - traefik.http.routers.notifiarr.rule=Host(`notifiarr.theblaskies.com`)
      - traefik.http.routers.notifiarr.entrypoints=websecure
      - traefik.http.routers.notifiarr.tls=true
      - traefik.http.routers.notifiarr.tls.certresolver=cloudflare
      - traefik.docker.network=proxy_net

      # -----------------------------
      # Service
      # -----------------------------
      - traefik.http.services.notifiarr.loadbalancer.server.port=5454

      # -----------------------------
      # OAuth2 (DISABLED for now)
      # Uncomment when ready
      # -----------------------------
      # - traefik.http.routers.notifiarr.middlewares=oauth2@file

    healthcheck:
      test: ["CMD", "/usr/bin/notifiarr", "healthcheck"]
      interval: 1m
      timeout: 10s
      retries: 3

networks:
  proxy_net:
    external: true
